!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "UTF-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title Footer
    %link{:href => "footer.css", :rel => "stylesheet"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Poppins", :rel => "stylesheet"}/
  %body
    %footer
      #wave1.wave
      #wave2.wave
      #wave3.wave
      #wave4.wave
      .copyright Copyright © 2016 SimplySmart Technology Private Limited
      .icons
        %ul.social_icon
          %li
            %a{:href => "https://twitter.com/joshsoftware?lang=en"}
              %ion-icon{:name => "logo-twitter"}
          %li
            %a{:href => "https://www.facebook.com/joshsoftware"}
              %ion-icon{:name => "logo-facebook"}
          %li
            %a{:href => "https://www.linkedin.com/company/josh-software"}
              %ion-icon{:name => "logo-linkedin"}
          %li
            %a{:href => "https://www.instagram.com/josh.software"}
              %ion-icon{:name => "logo-instagram"}
      .right
        %ul.menu
          %li
            %a{:href => "#"} Privacy Policy
        %button Inquire Us